STRINGTABLE
BEGIN
  0, "unexpected end of file"
  1, "invalid character"
  2, "invalid character after '#'"
  3, "unknown #! named constant %1"
  4, "unexpected token %1"
  5, "string with no closing quote"
  6, "missing closing parenthesis"
  7, "invalid number %1"
  8, "invalid AFII glyph identifier %1"
  9, "call of non-function object %1"
  10, "too many arguments for function"
  11, "odd number of keyword/value arguments"
  12, "missing argument for function call"
  13, "syntactic keyword %1 used as variable"
  14, "reference to undefined variable %1"
  15, "no character with that name"
  16, "syntactic keyword %1 not valid in call position"
  17, "symbol required (got %1)"
  18, "unknown top level form %1"
  19, "bad form %1 in mode group"
  20, "identifier %1 already defined in same part"
  21, "first definition was here"
  22, "loop in specification of value of %1"
  23, "argument out of range"
  24, "loop in specification of value of unit %1"
  25, "bad value specified for unit %1"
  26, "unit %1 already defined in same part"
  27, "first definition was here"
  28, "quantity %1 undefined"
  29, "incompatible dimensions"
  30, "%2 argument for primitive %1 of wrong type: %3 not a boolean"
  31, "%2 argument for primitive %1 of wrong type: %3 not a pair"
  32, "%2 argument for primitive %1 of wrong type: %3 not a list"
  33, "%2 argument for primitive %1 of wrong type: %3 not a symbol"
  34, "%2 argument for primitive %1 of wrong type: %3 not a string"
  35, "%2 argument for primitive %1 of wrong type: %3 not a string or symbol"
  36, "%2 argument for primitive %1 of wrong type: %3 neither a string not a symbol"
  37, "%2 argument for primitive %1 of wrong type: %3 not a char"
  38, "%2 argument for primitive %1 of wrong type: %3 not a style"
  39, "%2 argument for primitive %1 of wrong type: %3 not an exact integer"
  40, "%2 argument for primitive %1 of wrong type: %3 not a quantity"
  41, "%2 argument for primitive %1 of wrong type: %3 not a color-space"
  42, "%2 argument for primitive %1 of wrong type: %3 not a number"
  43, "%2 argument for primitive %1 of wrong type: %3 not a sosofo"
  44, "%2 argument for primitive %1 of wrong type: %3 not an optional singleton node list"
  45, "%2 argument for primitive %1 of wrong type: %3 not a singleton node list"
  46, "%2 argument for primitive %1 of wrong type: %3 not a node list"
  47, "%2 argument for primitive %1 of wrong type: %3 not a named node list"
  48, "%2 argument for primitive %1 of wrong type: %3 not a length or length-spec"
  49, "%2 argument for primitive %1 of wrong type: %3 not a quantity or length-spec"
  50, "%2 argument for primitive %1 of wrong type: %3 not an integer or the symbol ""force"""
  51, "%2 argument for primitive %1 of wrong type: %3 not a valid element matching pattern"
  52, "%2 argument for primitive %1 of wrong type: %3 not an address"
  53, "%2 argument for primitive %1 of wrong type: %3 not a glyph-id"
  54, "%2 argument for primitive %1 of wrong type: %3 not a glyph-subst-table"
  55, "%2 argument for primitive %1 of wrong type: %3 not a list of pairs of glyph-ids"
  56, "%2 argument for primitive %1 of wrong type: %3 not a procedure"
  57, "%2 argument for primitive %1 of wrong type: %3 not a vector"
  58, "root rule already defined in same part with same importance"
  59, "first definition was here"
  60, "initial value already declared for characteristic %1 in same part"
  61, "first declaration was here"
  62, "%1 is not a valid keyword in a style expression"
  63, "%1 is not a valid keyword in a make expression for flow object class %2"
  64, "%1 is not the name of any flow object class"
  65, "content expression cannot be specified in make expression for atomic flow object class %1"
  66, "value for ""label:"" not a symbol"
  67, "no port for label %1"
  68, "invalid content map"
  69, "content map references non-existent port %1"
  70, "invalid value for %1 characteristic"
  71, "no clause in cond expression matched"
  72, "no clause in case expression matched %1"
  73, "expected ""else"" not %1"
  74, "sorry, cannot handle unresolvable quantities in datums in case expression"
  75, "%1"
  76, "division by zero"
  77, "procedure does not have %1 keyword argument"
  78, "argument not a keyword"
  79, "support for more than one style-specification-body not yet implemented"
  80, "specification document does not have the DSSSL architecture as a base architecture"
  81, "specification document did not contain a style-specification-body element"
  82, "unknown character name %1"
  83, "attempt to use current node when there is none"
  84, "attempt to process node in illegal context"
  85, "radix must be 2, 8, 10 or 16"
  86, "this context requires a sosofo"
  87, "this context requires a style object"
  88, "procedure can only be used in evaluation of characteristic value"
  89, "sorry, %1 expression not implemented"
  90, "Device RGB color requires three arguments"
  91, "arguments for Device RGB color must be numbers"
  92, "arguments for Device RGB color must be in the range 0 to 1"
  93, "unknown color-space family %1"
  94, "Device RGB Color Space Family does not take any arguments"
  95, "%1 is not a pre-defined inherited characteristic"
  96, "invalid number format %1"
  97, "invalid character %1 in public identifier"
  98, "debug %1"
  99, "circular use of specification parts"
  100, "no style-specification or external-specification with ID %1"
  101, "document did not contain any style-specifications or external-specifications"
  102, "table-cell flow object not inside a table"
  103, "table-row flow object not inside a table"
  104, "no value for node property %1"
  105, "value returned by procedure was not a node-list"
  106, "called from here"
  107, "called from here...(%1 calls omitted)"
  108, "node processing loop detected"
  109, "unquote-splicing expression does not evaluate to a list"
  110, "object is read-only"
  111, "assignment to top-level variable %1"
  112, "invalid call to continuation"
  113, "empty generic identifier in pattern"
  114, "pattern is not a list"
  115, "%1 cannot be used as a generic identifier in a pattern"
  116, "%1 cannot occur in a pattern"
  117, "value missing for qualifier in pattern"
  118, "unknown pattern qualifier %1"
  119, "bad value %1 for %2 qualifier in pattern"
  120, "repeat qualifier not allowed inside children qualifier"
  121, "bad value for attributes qualifier in pattern"
  122, "characteristic %1 applied in style rule with same specificity"
  123, "other style rule is here"
  124, "node matches more than one pattern with the same specificity"
  125, "reference to uninitialized variable %1"
  126, "circular use of actual value of characteristic %1"
  127, "characteristic %1 already defined in same part"
  128, "first definition was here"
  129, "flow object class %1 already defined in same part"
  130, "first definition was here"
  131, "mode %1 not defined"
END
