STRINGTABLE
BEGIN
  100, "reference to internal SDATA entity %1 not allowed in XML"
  101, "reference to external data entity %1 not allowed in XML"
  102, "reference to subdocument entity %1 not allowed in XML"
  103, "processing instruction containing ""?>"" not allowed in XML"
  104, "XML requires processing instructions to start with a name"
  105, "external data entity %1 is CDATA or SDATA, but XML allows only NDATA"
  106, "attributes were defined for notation %1; not allowed in XML"
  107, "cannot convert formal system identifier %1 to URL"
END
