STRINGTABLE
BEGIN
  0, "length of name must not exceed NAMELEN (%1)"
  1, "length of parameter entity name must not exceed NAMELEN less the length of the PERO delimiter (%1)"
  2, "length of number must not exceed NAMELEN (%1)"
  3, "length of attribute value must not exceed LITLEN less NORMSEP (%1)"
  4, "a name group is not allowed in a parameter entity reference in the prolog"
  5, "an entity end in a token separator must terminate an entity referenced in the same group"
  6, "character %1 invalid: only %2 and token separators allowed"
  7, "a parameter separator is required after a number that is followed by a name start character"
  8, "character %1 invalid: only %2 and parameter separators allowed"
  9, "an entity end in a parameter separator must terminate an entity referenced in the same declaration"
  10, "an entity end is not allowed in a token separator that does not follow a token"
  11, "%1 is not a valid token here"
  12, "a parameter entity reference can only occur in a group where a token could occur"
  13, "token %1 has already occurred in this group"
  14, "the number of tokens in a group must not exceed GRPCNT (%1)"
  15, "an entity end in a literal must terminate an entity referenced in the same literal"
  16, "character %1 invalid: only minimum data characters allowed"
  17, "a parameter literal in a data tag pattern must not contain a numeric character reference to a non-SGML character"
  18, "a parameter literal in a data tag pattern must not contain a numeric character reference to a function character"
  19, "a name group is not allowed in a general entity reference in a start tag"
  20, "a name group is not allowed in a general entity reference in the prolog"
  21, "%1 is not a function name"
  22, "%1 is not a character number in the document character set"
  23, "parameter entity %1 not defined"
  24, "general entity %1 not defined and no default entity"
  25, "RNI delimiter must be followed by name start character"
  26, "unterminated comment: found end of entity inside comment"
  27, "comment started here"
  28, "only one type of connector should be used in a single group"
  29, "%1 is not a reserved name"
  30, "%1 is not allowed as a reserved name here"
  31, "length of interpreted minimum literal must not exceed reference LITLEN (%1)"
  32, "length of tokenized attribute value must not exceed LITLEN less NORMSEP (%1)"
  33, "length of system identifier must not exceed LITLEN (%1)"
  34, "length of interpreted parameter literal must not exceed LITLEN (%1)"
  35, "length of interpreted parameter literal in data tag pattern must not exceed DTEMPLEN"
  36, "literal is missing closing delimiter"
  37, "%1 invalid: only %2 and parameter separators are allowed"
  38, "%1 invalid: only %2 and token separators are allowed"
  39, "%1 invalid: only %2 and token separators are allowed"
  40, "unknown declaration type %1"
  41, "%1 declaration not allowed in DTD subset"
  42, "character %1 not allowed in declaration subset"
  43, "end of document in DTD subset"
  44, "character %1 not allowed in prolog"
  45, "end of document in prolog"
  46, "%1 declaration not allowed in prolog"
  47, "%1 used both a rank stem and generic identifier"
  48, "omitted tag minimization parameter can be omitted only if ""OMITTAG NO"" is specified on the SGML declaration"
  49, "element type %1 already defined"
  50, "entity reference with no applicable DTD"
  51, "invalid comment declaration: found %1 outside comment but inside comment declaration"
  52, "comment declaration started here"
  53, "%1 declaration not allowed in instance"
  54, "non-SGML character not allowed in content"
  55, "no current rank for rank stem %1"
  56, "duplicate attribute definition list for notation %1"
  57, "duplicate attribute definition list for element %1"
  58, "entity end not allowed in end tag"
  59, "character %1 not allowed in end tag"
  60, "%1 invalid: only s and tagc allowed here"
  61, "character data is not allowed here"
  62, "document type does not allow element %1 here"
  63, "document type does not allow element %1 here; missing one of %2 start-tag"
  64, "document type does not allow element %1 here; assuming missing %2 start-tag"
  65, "no start tag specified for implied empty element %1"
  66, "end tag for %1 omitted, but its declaration does not permit this"
  67, "start tag was here"
  68, "end tag for %1 omitted, but OMITTAG NO was specified"
  69, "start tag was here"
  70, "start tag omitted for element %1 with declared content"
  71, "end tag for %1 which is not finished"
  72, "start tag for %1 omitted, but its declaration does not permit this"
  73, "number of open elements exceeds TAGLVL (%1)"
  74, "element %1 undefined"
  75, "empty end tag but no open elements"
  76, "%1 not finished but containing element ended"
  77, "end tag for element %1 which is not open"
  78, "internal parameter entity %1 cannot be CDATA or SDATA"
  79, "character %1 not allowed in attribute specification list"
  80, "an attribute value must be a literal unless it contains only name characters"
  81, "entity end not allowed in attribute specification list except in attribute value literal"
  82, "external parameter entity %1 cannot be CDATA, SDATA, NDATA or SUBDOC"
  83, "duplicate declaration of entity %1"
  84, "duplicate declaration of parameter entity %1"
  85, "a reference to a PI entity is allowed only in a context where a processing instruction could occur"
  86, "a reference to a CDATA or SDATA entity is allowed only in a context where a data character could occur"
  87, "a reference to a subdocument entity or external data entity is allowed only in a context where a data character could occur"
  88, "a reference to a subdocument entity or external data entity is not allowed in replaceable character data"
  89, "the number of open entities cannot exceed ENTLVL"
  90, "a reference to a PI entity is not allowed in replaceable character data"
  91, "entity %1 is already open"
  92, "short reference map %1 not defined"
  93, "short reference map in DTD must specify associated element type"
  94, "short reference map in document instance cannot specify associated element type"
  95, "short reference map %1 for element %2 not defined in DTD"
  96, "%1 is not a short reference delimiter"
  97, "short reference delimiter %1 already mapped in this declaration"
  98, "no document element"
  99, "entity end not allowed in processing instruction"
  100, "length of processing instruction must not exceed PILEN (%1)"
  101, "missing pic delimiter"
  102, "an attribute specification must start with a name or name token"
  103, "%1 is not a member of a group specified for any attribute"
  104, "the name and vi delimiter can be omitted from an attribute specification only if SHORTTAG YES is specified"
  105, "there is no attribute %1"
  106, "an attribute value specification must start with a literal or a name character"
  107, "length of name token must not exceed NAMELEN (%1)"
  108, "an attribute value literal can occur in an attribute specification list only after a vi delimiter"
  109, "duplicate specification of attribute %1"
  110, "duplicate definition of attribute %1"
  111, "data attribute specification must be omitted if attribute specification list is empty"
  112, "marked section end not in marked section declaration"
  113, "number of open marked sections must not exceed TAGLVL (%1)"
  114, "missing marked section end"
  115, "marked section started here"
  116, "entity end in character data, replaceable character data or ignored marked section"
  117, "normalized length of attribute value literal must not exceed LITLEN (%1); length was %2"
  118, "syntax of attribute value does not conform to declared value"
  119, "character %1 is not allowed in the value of attribute %2"
  120, "value of attribute %1 must be a single token"
  121, "value of attribute %2 invalid: %1 cannot start a number token"
  122, "value of attribute %2 invalid: %1 cannot start a name"
  123, "non-impliable attribute %1 not specified but OMITTAG NO and SHORTTAG NO"
  124, "required attribute %1 not specified"
  125, "first occurrence of current attribute %1 not specified"
  126, "%1 is not a notation name"
  127, "%1 is not a general entity name"
  128, "value of attribute %2 cannot be %1; must be one of %3"
  129, "%1 is not a data or subdocument entity"
  130, "content model is ambiguous: when no tokens have been matched, both the %2 and %3 occurrences of %1 are possible"
  131, "content model is ambiguous: when the current token is the %2 occurrence of %1, both the %4 and %5 occurrences of %3 are possible"
  132, "content model is ambiguous: when the current token is the %2 occurrence of %1 and the innermost containing and group has been matched, both the %4 and %5 occurrences of %3 are possible"
  133, "content model is ambiguous: when the current token is the %2 occurrence of %1 and the innermost %3 containing and groups have been matched, both the %5 and %6 occurrences of %4 are possible"
  134, "invalid comment declaration: found character %1 outside comment but inside comment declaration"
  135, "comment declaration started here"
  136, "non SGML character number %1"
  137, "data or replaceable character data in declaration subset"
  138, "ID %1 already defined"
  139, "ID %1 first defined here"
  140, "value of fixed attribute %1 not equal to default"
  141, "character %1 is not significant in the reference concrete syntax and so cannot occur in a comment in the SGML declaration"
  142, "minimum data of first minimum literal in SGML declaration must be ""ISO 8879:1986"" or ""ISO 8879:1986 (ENR)"" or ""ISO 8879:1986 (WWW)"" not %1"
  143, "parameter before ""LCNMSTRT"" must be ""NAMING"" not %1"
  144, "unexpected entity end in SGML declaration: only %1, S separators and comments allowed"
  145, "%1 invalid: only %2 and parameter separators allowed"
  146, "magnitude of %1 too big (length exceeds NAMELEN)"
  147, "character %1 is not significant in the reference concrete syntax and so cannot occur in a literal in the SGML declaration except as the replacement of a character reference"
  148, "%1 is not a valid syntax reference character number"
  149, "a parameter entity reference cannot occur in an SGML declaration"
  150, "%1 invalid: only %2 and parameter separators are allowed"
  151, "cannot continue because of previous errors"
  152, "SGML declaration cannot be parsed because the character set does not contain characters having the following numbers in ISO 646: %1"
  153, "the specified character set is invalid because it does not contain the minimum data characters having the following numbers in ISO 646: %1"
  154, "character numbers declared more than once: %1"
  155, "character numbers should have been declared UNUSED: %1"
  156, "character numbers missing in base set: %1"
  157, "characters in the document character set with numbers exceeding %1 not supported"
  158, "invalid formal public identifier %1: missing //"
  159, "invalid formal public identifier %1: no SPACE after public text class"
  160, "invalid formal public identifier %1: invalid public text class"
  161, "invalid formal public identifier %1: public text language must be a name containing only upper case letters"
  162, "invalid formal public identifer %1: public text display version not permitted with this text class"
  163, "invalid formal public identifier %1: extra field"
  164, "public text class of public identifier in notation identifier must be NOTATION"
  165, "base character set %1 is unknown"
  166, "delimiter set is ambiguous: %1 and %2 can be recognized in the same mode"
  167, "characters with the following numbers in the syntax reference character set are significant in the concrete syntax but are not in the document character set: %1"
  168, "there is no unique character in the document character set corresponding to character number %1 in the syntax reference character set"
  169, "there is no unique character in the internal character set corresponding to character number %1 in the syntax reference character set"
  170, "the character with number %1 in ISO 646 is significant but has no representation in the syntax reference character set"
  171, "capacity set %1 is unknown"
  172, "capacity %1 already specified"
  173, "value of capacity %1 exceeds value of TOTALCAP"
  174, "syntax %1 is unknown"
  175, "UCNMSTRT must have the same number of characters as LCNMSTRT"
  176, "UCNMCHAR must have the same number of characters as LCNMCHAR"
  177, "number of open subdocuments exceeds quantity specified for SUBDOC parameter in SGML declaration (%1)"
  178, "entity %1 declared SUBDOC, but SUBDOC NO specified in SGML declaration"
  179, "a parameter entity referenced in a parameter separator must end in the same declaration"
  180, "reference to non-existent ID %1"
  181, "generic identifier %1 used in DTD but not defined"
  182, "%1 not finished but document ended"
  183, "cannot continue with subdocument because of previous errors"
  184, "no document type declaration; will parse without validation"
  185, "no internal or external document type declaration subset; will parse without validation"
  186, "this is not an SGML document"
  187, "length of start-tag before interpretation of literals must not exceed TAGLEN (%1)"
  188, "a parameter entity referenced in a token separator must end in the same group"
  189, "the following character numbers are shunned characters that are not significant and so should have been declared UNUSED: %1"
  190, "there is no unique character in the specified document character set corresponding to character number %1 in ISO 646"
  191, "length of attribute value must not exceed LITLEN less NORMSEP (-%1)"
  192, "length of tokenized attribute value must not exceed LITLEN less NORMSEP (-%1)"
  193, "concrete syntax scope is INSTANCE but value of %1 quantity is less than value in reference quantity set"
  194, "public text class of formal public identifier of base character set must be CHARSET"
  195, "public text class of formal public identifier of capacity set must be CAPACITY"
  196, "public text class of formal public identifier of concrete syntax must be SYNTAX"
  197, "when there is an MSOCHAR there must also be an MSICHAR"
  198, "character number %1 in the syntax reference character set was specified as a character to be switched but is not a markup character"
  199, "character number %1 was specified as a character to be switched but is not in the syntax reference character set"
  200, "character numbers %1 in the document character set have been assigned the same meaning, but this is the meaning of a significant character"
  201, "character number %1 assigned to more than one function"
  202, "%1 is already a function name"
  203, "characters with the following numbers in ISO 646 are significant in the concrete syntax but are not in the document character set: %1"
  204, "general delimiter %1 consists solely of function characters"
  205, "letters assigned to LCNMCHAR, UCNMCHAR, LCNMSTRT or UCNMSTRT: %1"
  206, "digits assigned to LCNMCHAR, UCNMCHAR, LCNMSTRT or UCNMSTRT: %1"
  207, "character number %1 cannot be assigned to LCNMCHAR, UCNMCHAR, LCNMSTRT or UCNMSTRT because it is RE"
  208, "character number %1 cannot be assigned to LCNMCHAR, UCNMCHAR, LCNMSTRT or UCNMSTRT because it is RS"
  209, "character number %1 cannot be assigned to LCNMCHAR, UCNMCHAR, LCNMSTRT or UCNMSTRT because it is SPACE"
  210, "separator characters assigned to LCNMCHAR, UCNMCHAR, LCNMSTRT or UCNMSTRT: %1"
  211, "character number %1 cannot be switched because it is a Digit, LC Letter or UC Letter"
  212, "pointless for number of characters to be 0"
  213, "%1 cannot be the replacement for a reference reserved name because it is another reference reserved name"
  214, "%1 cannot be the replacement for a reference reserved name because it is the replacement of another reference reserved name"
  215, "replacement for reserved name %1 already specified"
  216, "%1 is not a valid name in the declared concrete syntax"
  217, "%1 is not a valid short reference delimiter because it has more than one B sequence"
  218, "%1 is not a valid short reference delimiter because it is adjacent to a character that can occur in a blank sequence"
  219, "length of delimiter %1 exceeds NAMELEN (%2)"
  220, "length of reserved name %1 exceeds NAMELEN (%2)"
  221, "character numbers assigned to both LCNMCHAR or UCNMCHAR and LCNMSTRT or UCNMSTRT: %1"
  222, "when the concrete syntax scope is INSTANCE the syntax reference character set of the declared syntax must be the same as that of the reference concrete syntax"
  223, "end-tag minimization should be ""O"" for element with declared content of EMPTY"
  224, "end-tag minimization should be ""O"" for element %1 because it has CONREF attribute"
  225, "element %1 has a declared content of EMPTY and a CONREF attribute"
  226, "element %1 has a declared content of EMPTY and a NOTATION attribute"
  227, "declared value of data attribute cannot be ENTITY, ENTITIES, ID, IDREF, IDREFS or NOTATION"
  228, "default value of data attribute cannot be CONREF or CURRENT"
  229, "number of attribute names and name tokens (%1) exceeds ATTCNT (%2)"
  230, "if the declared value is ID the default value must be IMPLIED or REQUIRED"
  231, "the attribute definition list already declared attribute %1 as the ID attribute"
  232, "the attribute definition list already declared attribute %1 as the NOTATION attribute"
  233, "token %1 occurs more than once in attribute definition list"
  234, "no attributes defined for notation %1"
  235, "notation %1 for entity %2 undefined"
  236, "entity %1 undefined in short reference map %2"
  237, "notation %1 is undefined but had attribute definition"
  238, "length of interpreted parameter literal in bracketed text plus the length of the bracketing delimiters must not exceed LITLEN (%1)"
  239, "length of rank stem plus length of rank suffix must not exceed NAMELEN (%1)"
  240, "document instance must start with document element"
  241, "content model nesting level exceeds GRPLVL (%1)"
  242, "grand total of content tokens exceeds GRPGTCNT (%1)"
  243, "unclosed start-tag requires SHORTTAG YES"
  244, "net-enabling start-tag requires SHORTTAG YES"
  245, "unclosed end-tag requires SHORTTAG YES"
  246, "DTDs other than base allowed only if CONCUR YES or EXPLICIT YES"
  247, "end of entity other than document entity after document element"
  248, "%1 declaration illegal after document element"
  249, "character reference illegal after document element"
  250, "entity reference illegal after document element"
  251, "marked section illegal after document element"
  252, "the %1 occurrence of %2 in the content model for %3 cannot be excluded at this point because it is contextually required"
  253, "the %1 occurrence of %2 in the content model for %3 cannot be excluded because it is neither inherently optional nor a member of an or group"
  254, "an attribute value specification must be an attribute value literal unless SHORTTAG YES is specified"
  255, "value cannot be specified both for notation attribute and content reference attribute"
  256, "notation %1 already defined"
  257, "short reference map %1 already defined"
  258, "first defined here"
  259, "general delimiter role %1 already defined"
  260, "number of id references in start-tag must not exceed GRPCNT (%1)"
  261, "number of entity names in attribute specification list must not exceed GRPCNT (%1)"
  262, "normalized length of attribute specification list must not exceed ATTSPLEN (%1); length was %2"
  263, "short reference delimiter %1 already specified"
  264, "single character short references were already specified for character numbers: %1"
  265, "default entity used in entity attribute %1"
  266, "reference to entity %1 uses default entity "
  267, "entity %1 in short reference map %2 uses default entity"
  268, "no DTD %1 declared"
  269, "LPD %1 has neither internal nor external subset"
  270, "element types have different link attribute definitions"
  271, "link set %1 already defined"
  272, "empty result attribute specification"
  273, "no source element type %1"
  274, "no result element type %1"
  275, "end of document in LPD subset"
  276, "%1 declaration not allowed in LPD subset"
  277, "ID link set declaration not allowed in simple link declaration subset"
  278, "link set declaration not allowed in simple link declaration subset"
  279, "attributes can only be defined for base document element (not %1) in simple link declaration subset"
  280, "a short reference mapping declaration is allowed only in the base DTD"
  281, "a short reference use declaration is allowed only in the base DTD"
  282, "default value of link attribute cannot be CURRENT or CONREF"
  283, "declared value of link attribute cannot be ID, IDREF, IDREFS or NOTATION"
  284, "only fixed attributes can be defined in simple LPD"
  285, "only one ID link set declaration allowed in an LPD subset"
  286, "no initial link set defined for LPD %1"
  287, "notation %1 not defined in source DTD"
  288, "result document type in simple link specification must be implied"
  289, "simple link requires SIMPLE YES"
  290, "implicit link requires IMPLICIT YES"
  291, "explicit link requires EXPLICIT YES"
  292, "LPD not allowed before first DTD"
  293, "DTD not allowed after an LPD"
  294, "definition of general entity %1 is unstable"
  295, "definition of parameter entity %1 is unstable"
  296, "multiple link rules for ID %1 but not all have link attribute specifications"
  297, "multiple link rules for element type %1 but not all have link attribute specifications"
  298, "link type %1 does not have a link set %2"
  299, "link set use declaration for simple link process"
  300, "no link type %1"
  301, "both document type and link type %1"
  302, "link type %1 already defined"
  303, "document type %1 already defined"
  304, "link set %1 used in LPD but not defined"
  305, "#IMPLIED already linked to result element type %1"
  306, "number of active simple link processes exceeds quantity specified for SIMPLE parameter in SGML declaration (%1)"
  307, "only one chain of explicit link processes can be active"
  308, "source document type name for link type %1 must be base document type since EXPLICIT YES 1"
  309, "one one implicit link process can be active"
  310, "sorry, link type %1 not activated: only one implicit or explicit link process can be active (with base document type as source document type)"
  311, "name missing after name group in entity reference"
  312, "source document type name for link type %1 must be base document type since EXPLICIT NO"
  313, "link process must be activated before base DTD"
  314, "unexpected entity end while starting second pass"
  315, "type %1 of element with ID %2 not associated element type for applicable link rule in ID link set"
  316, "DATATAG feature not implemented"
  317, "generic identifier specification missing after document type specification in start-tag"
  318, "generic identifier specification missing after document type specification in end-tag"
  319, "a net-enabling start-tag cannot include a document type specification"
  320, "DTD did not contain element declaration for document type name"
  321, "invalid default SGML declaration"
  322, "reference to entity %1 for which no system identifier could be generated"
  323, "entity was defined here"
  324, "content model is mixed but does not allow #PCDATA everywhere"
  325, "start or end of range must specify a single character"
  326, "number of first character in range must not exceed number of second character in range"
  327, "delimiter cannot be an empty string"
  328, "too many characters assigned same meaning with minimum literal"
  329, "earlier reference to entity %1 used default entity"
  330, "empty start-tag"
  331, "empty end-tag"
  332, "unused short reference map %1"
  333, "unused parameter entity %1"
  334, "cannot generate system identifier for public text %1"
  335, "cannot generate system identifier for general entity %1"
  336, "cannot generate system identifier for parameter entity %1"
  337, "cannot generate system identifier for document type %1"
  338, "cannot generate system identifier for link type %1"
  339, "cannot generate system identifier for notation %1"
  340, "element type %1 both included and excluded"
  341, "no document type declaration; implying %1"
  342, "minimum data of AFDR declaration must be ""ISO/IEC 10744:1997"" not %1"
  343, "AFDR declaration required before use of AFDR extensions"
  344, "ENR extensions were used but minimum literal was not ""ISO 8879:1986 (ENR)"" or ""ISO 8879:1986 (WWW)"""
  345, "illegal numeric character reference to non-SGML character %1 in literal"
  346, "cannot convert character reference to number %1 because description %2 unrecognized"
  347, "cannot convert character reference to number %1 because character %2 from baseset %3 unknown"
  348, "character reference to number %1 cannot be converted because of problem with internal character set"
  349, "cannot convert character reference to number %1 because character not in internal character set"
  350, "Web SGML adaptations were used but minimum literal was not ""ISO 8879:1986 (WWW)"""
  351, "token %1 can be value for more multiple attributes so attribute name required"
  352, "length of hex number must not exceed NAMELEN (%1)"
  353, "%1 is not a valid name in the declared concrete syntax"
  354, "CDATA declared content"
  355, "RCDATA declared content"
  356, "inclusion"
  357, "exclusion"
  358, "NUMBER or NUMBERS declared value"
  359, "NAME or NAMES declared value"
  360, "NUTOKEN or NUTOKENS declared value"
  361, "conref attribute"
  362, "current attribute"
  363, "TEMP marked section"
  364, "included marked section in the instance"
  365, "ignored marked section in the instance"
  366, "RCDATA marked section"
  367, "processing instruction entity"
  368, "bracketed text entity"
  369, "internal CDATA entity"
  370, "internal SDATA entity"
  371, "external CDATA entity"
  372, "external SDATA entity"
  373, "attribute definition list declaration for notation"
  374, "rank stem"
  375, "no system id specified"
  376, "comment in parameter separator"
  377, "named character reference"
  378, "and group"
  379, "attribute value not a literal"
  380, "attribute name missing"
  381, "element declaration for group of element types"
  382, "attribute definition list declaration for group of element types"
  383, "empty comment declaration"
  384, "s separator in comment declaration"
  385, "multiple comments in comment declaration"
  386, "no status keyword"
  387, "multiple status keywords"
  388, "parameter entity reference in document instance"
  389, "current attribute"
  390, "element type minimization parameter"
  391, "reference not terminated by refc delimiter"
  392, "#PCDATA not first in model group"
  393, "#PCDATA in seq group"
  394, "#PCDATA in nested model group"
  395, "#PCDATA in model group that does not have rep occurrence indicator"
  396, "name group or name token group used connector other than OR"
  397, "processing instruction does not start with name"
  398, "s separator in status keyword specification in document instance"
  399, "reference to external data entity"
  400, "reference to external entity in attribute value"
  401, "character %1 is the first character of a delimiter but occurred as data"
  402, "SGML declaration was not implied"
  403, "marked section in internal DTD subset"
  404, "net-enabling start-tag not immediately followed by null end-tag"
  405, "entity end in different element from entity reference"
  406, "NETENABL IMMEDNET requires EMPTYNRM YES"
  407, "reference to non-SGML character"
  408, "declaration of default entity"
  409, "reference to parameter entity in parameter separator in internal subset"
  410, "reference to parameter entity in token separator in internal subset"
  411, "reference to parameter entity in parameter literal in internal subset"
  412, "cannot generate system identifier for SGML declaration reference"
  413, "public text class of formal public identifier of SGML declaration must be SD"
  414, "SGML declaration reference was used but minimum literal was not ""ISO 8879:1986 (WWW)"""
  415, "member of model group containing #PCDATA has occurrence indicator"
  416, "member of model group containing #PCDATA is a model group"
  1000, "delimiter "
  1001, ""
  1002, "digit"
  1003, "name start character"
  1004, "sepchar"
  1005, "separator"
  1006, "name character"
  1007, "data character"
  1008, "minimum data character"
  1009, "significant character"
  1010, "record end character"
  1011, "record start character"
  1012, "space character"
  1013, ", "
  1014, "-"
  1015, "parameter literal"
  1016, "data tag group"
  1017, "model group"
  1018, "data tag template group"
  1019, "name"
  1020, "name token"
  1021, "element token"
  1022, "inclusions"
  1023, "exclusions"
  1024, "minimum literal"
  1025, "attribute value literal"
  1026, "system identifier"
  1027, "number"
  1028, "attribute value"
  1029, "name of capacity"
  1030, "name of general delimiter role"
  1031, "reference reserved name"
  1032, "name of quantity"
  1033, "entity end"
  1034, "short reference delimiter"
END
